{#

TWIG Simple footer

#}

{% extends 'partials/footer/simple.twig' %}


{% block footer_logo %}
	{{ parent() }}

	<div class="footer-mnu">
		<a class="footer-link" href="{{ page.find('/privacidad').url() }}">Aviso de privacidad</a> | <a class="footer-link" href="{{ page.find('/politica-de-cookies').url() }}">Política de Cookies</a>
	</div>

	<div class="copyright">© 2017, BLACK ECCO POS. Todos los derechos reservados.</div>

{% endblock %}
