/*
 * SCSS THEME BASIC TAGS File
 */



// BLOCK ELEMENTS
// **************************************************

.main-title,
h1,
h2 {
	font-size: 2.8rem;
	@media all and (min-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint)) { font-size: $font-size-h1; line-height: 4.8rem; }
	//span { background: transparentize($gray-darker, 0.2); padding-top: 0.4rem; }
}

h1,
h2,
h3,
h4,
h5 {
	color: $brand-secondary; line-height: 1; text-transform: uppercase;
	//&:first-child { text-transform: uppercase; }
}

h1,
h2,
h3,
h4,
h5,
p {
	&:first-child { margin-bottom: 0; margin-top: 0; }
	.highlight { color: $brand-primary; }
}

a:active,
a:hover { color: $brand-primary; }



// INLINE ELEMENTS
// **************************************************

// -- OVERRIDES HERE!!!




// FORMS
// **************************************************

input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
	+ label { font-family: $headings-font-family; font-size: 1.2rem; }
}

input:placeholder-shown:not([type="radio"]):not([type="checkbox"]),
select:invalid,
textarea:placeholder-shown {
	&:not(:focus) + label { font-size: 1.2rem; }
}

button,
.button { border-radius: 0; font-family: $headings-font-family; font-size: 1.6rem; line-height: 1; padding-top: 1.2rem; text-transform: uppercase; }

.button-outline {
	background: transparentize($gray-darker, 0.5); border: solid 1px $brand-primary; border-radius: $border-radius;

	&:hover,
	&:active,
	&:focus { background: $gray-darker; }
}
