/*
 * SCSS THEME VARIABLEs File
 * by SalsaLab
 */




/*
 * DEBUG
 * ****************************************
 */
$_enable-pre-debug: true;




/*
 * BOOTSRAP GRID
 * ****************************************
 */

// $grid-gutter-width-base : 16px;
// $grid-breakpoints       : (
// 	xs: 0,     // Extra small screen / phone
// 	sm: 576px, // Small screen / phone
// 	md: 768px, // Medium screen / tablet
// 	lg: 992px, // Large screen / desktop
// 	xl: 1248px // Extra large screen / wide desktop
// );
// $container-max-widths   : (
// 	sm: 540px,
// 	md: 720px,
// 	lg: 960px,
// 	xl: 1248px
// );




/*
 * COLORS
 * ****************************************
 */

$white  : #fff;
// $black  : #000;
// $red    : #d9534f;
// $orange : #f0ad4e;
// $yellow : #ffd500;
// $green  : #5cb85c;
// $blue   : #0275d8;
// $teal   : #5bc0de;
// $pink   : #ff5b77;
// $purple : #613d7c;

// Create grayscale

$gray			: #7a8e9c;
$gray-darker   	: #5c7485;
$gray-darkest   : #333;
// $gray          : #666;
// $gray-light    : #999;
// $gray-lighter  : #ccc;
$gray-lightest : #ddd;
$gray-lightest-2: #eee;

// Reassign color vars to semantic color scheme
$brand-primary 		: #008cff;
$brand-secondary 	: #2f719e;
$brand-accent  		: #af2c5f;
// $brand-success : $green;
// $brand-info    : $teal;
// $brand-warning : $orange;
$brand-danger  : tint($red, 25%);
// $brand-inverse : $gray-dark;

$body-bg:    $white;
$body-color: $gray;




/*
 * FONTS
 * ****************************************
 */

$font-family-sans-serif : Lato, "Helvetica Neue", Arial, sans-serif;
$headings-font-family   : Lato, "Helvetica Neue", Arial, sans-serif;
$font-family-base       : $font-family-sans-serif;

$font-size-base      : 1.4rem; // Assumes the browser default, typically `16px`

// $line-height-lg      : (4 / 3);
// $line-height-sm      : 1.5;
//
// $modular-scale-ratio : $major-third;
// $modular-scale-base  : $font-size-base;
//
// $font-size-lg        : modular-scale(2);
// $font-size-sm        : 1.4rem;
// $font-size-xs        : 1.2rem;

$font-size-h1        : 4.4rem;
$font-size-h2        : 4rem;
$font-size-h3        : 2rem;
$font-size-h4        : 1.8rem;
// $font-size-h5        : modular-scale(1);
// $font-size-h6        : modular-scale(0.5);
//
// $font-weight-light   : 300;
// $text-max-width      : map-get($container-max-widths, 'xl') / 2;
$_font-iconset       : 'iconfont';




/*
 * MISC
 * ****************************************
 */

// $_font-path  : '../fonts';
// $_image-path : '../images';




/*
 * HTML ELEMENTS
 * ****************************************
 */

// $_block-margins      : 1em auto;
//
//
// // Includes
// $_enable-definition-lists : false;
// $_enable_fieldsets        : false;
$_enable-iconfont         : true;
// $_enable-inline-quotes    : false;
// $_enable-lists            : true;
// $_enable-figure           : false;
// $_enable-sub-sup-index    : false;
// $_enable-visited-links    : false;
//
//
// Inline

$link-color            : inherit;
$link-decoration       : underline;
$link-hover-color      : $brand-accent;
$link-hover-decoration : underline;
// $link-visited-color    : tint($link-color, 25%);
// $link-visited-decoration : inherit;
//
// $_quote-preix: '\201D';
// $_quote-sufix: '\201C';
//
// $_sup-sup-index-size: 75%;
// $_sub-offset        : -0.5em;
// $_sup-offset        : -0.75em;
//
//
// // Form fields
// $_form-style       : 'material-like';
//
// // material design forms
// $_form-input-font-size    : 1.6rem;
// $_form-line-height        : 2.6rem;
//
$_form-color              : $white;
$_form-color-placeholder  : transparentize($white, 0.5);
// $_form-color-option       : $_form-color;
$_form-color-disabled     : transparentize($white, 0.75);
//
// $_form-label-scale        : 0.75;
//
$_form-label-color        : $_form-color-placeholder;
// $_form-label-color-empty  : $body-color;
// $_form-label-color-focus  : $brand-primary;
//
// $_form-vertical-padding   : 2rem;
// $_form-input-v-padding    : 0.1rem;
// $_form-input-h-padding    : 0;
// $_form-input-padding      : $_form-input-v-padding $_form-input-h-padding;

$_form-line               : $white;
$_form-line-empty         : transparentize($white, 0.5);
// $_form-line-focus         : $brand-primary;
$_form-line-disabled      : $_form-color-disabled;


// Buttons
$_button-bg                   : $brand-primary;
// $_button-bg-hover             : $_button-bg;
$_button-bg-disabled          : tint($brand-accent, 25%);

$_button-color                : $white;
// $_button-color-hover          : $_button-color;
$_button-color-disabled       : tint($brand-accent, 50%);

$_button-bg-primary           : $brand-primary;
// $_button-bg-primary-hover     : $_button-bg-primary;
$_button-color-primary        : $gray-darker;
// $_button-color-primary-hover  : $_button-color-primary;
//
// $_button-padding              : 0.8rem 1.6em;
// $_button-effect               : 'scale';
// $_button-border-radius        : $border-radius;
//
$_enable-button-border-radius : false;
$_enable-button-negative      : true;
$_enable-button-primary       : true;
//
// $_button-effect-hover-scale   : 1.05;
// $_button-effect-active-scale  : 0.9;




/*
 * LAYOUT
 * ****************************************
 */

// // Header
$_header-type              : fixed;
// $_header-mobile-breakpoint : 'md';

// $_header-xs-height         : 6.4rem;
$_header-xl-height         : 9rem;

// $_header-offset-after      : 0;
// $_header-content-offset-xs : $_header-xs-height + $_header-offset-after;
// $_header-content-offset-xl : $_header-xl-height + $_header-offset-after;
//

$_header-logo-image        : 'logo-bepos.svg';
$_header-logo-xs-w         : 12.9rem;
$_header-logo-xs-h         : 6.4rem;
$_header-logo-xl-w         : 16.1rem;
$_header-logo-xl-h         : 9rem;

// $_header-z-index           : 10;
//
// $_header-flex              : true;
// $_header-flex-align        : center;
// $_header-flex-justify      : space-between;
//
// // Menu
// $_menu-mobile-type       : dropdown;
// $_menu-mobile-breakpoint : 'md';
// $_menu-mobile-offset     : 4.8rem;
// $_menu-mobile-width      : 100vw;
//
$_menu-direction         : horizontal;
$_menu-justify-node      : flex-start;
$_menu-node-width        : false;

$_menu-has-children      : true;
$_menu-children-bg       : $white;
// $_menu-children-shadow   : 0 0.2rem 0.4rem transparentize($black, 0.8), 0 0.1rem 1rem transparentize($black, 0.9);


// // Footer
// $_footer-mobile-breakpoint : 'md';
$_footer-logo-image        : 'logo-bepos-footer.svg';
$_footer-logo-xs-w         : 12.9rem;
$_footer-logo-xs-h         : 6.4rem;
$_footer-logo-xl-w         : 16.1rem;
$_footer-logo-xl-h         : 8rem;




/*
 * PATTERNS
 * ****************************************
 */

// // Iconfont
// $_ico-size-sm : 1.6rem;
// $_ico-size    : 2.4rem;
// $_ico-size-md : 4.8rem;
// $_ico-size-lg : 6.4rem;
//
// $_ico-area-sm : $_ico-size-sm;
// $_ico-area    : $_ico-size / 2;
// $_ico-area-md : $_ico-size-md / 2;
// $_ico-area-lg : $_ico-size-lg / 2;

$_enable-ico-standalone: true;


// // Lightbox
// $_lightbox-breakpoint      : 'md';
//
// $_lightbox-overlay-color   : $black;
// $_lightbox-overlay-opacity : 0.05;
//
// $_lightbox-z-index         : 100;
// $_lightbox-body-overflow   : true;
// $_lightbox-content-padding : 0;
//
//
// // Gallery Row
// $_item_overlay-color   : $black;
// $_item_overlay-opacity : 0.5;
//
//
// // CSS ONLY Masonry
// $_masonry-breakpoints: (
// 	xs: 2,
// 	md: 3,
// 	lg: 4,
// );
//
//
// // Swiper
$_swiper-is-vertical   : true;
// $_swiper-enable-arrows : true;
// $_swiper-enable-nav    : true;
$_swiper-nav-border    : solid 1px transparentize($gray-darker, 0.5);
$_swiper-nav-bg        : $white;
$_swiper-nav-active    : $brand-primary;
// $_swiper-nav-size      : 1rem;
// $_swiper-cover-banner  : true;


// Dropdown
// $_navdrop-breakpoint    : 'md';

$_navdrop-bg            : $_button-bg-primary;
$_navdrop-bg-hover      : $_button-bg-primary;

$_navdrop-color         : $_button-color-primary;
$_navdrop-color-hover   : $_button-color-primary;

$_navdrop-padding       : 1.2rem 3.6rem 1.2rem 1.2rem;
$_navdrop-border-radius : 2rem;

// $_navdrop-z-index        : 5;
$_navdrop-content-bg     : $white;
// $_navdrop-content-shadow : 0 0.2rem 0.4rem transparentize($black, 0.25);
