/*
 * SCSS THEME LAYOUT File
 */



// COMMON
// **************************************************

// -- OVERRIDES HERE!!!

* { box-sizing: border-box; }

html,
body {
	height: 100%;
}

button,
.button { margin-bottom: 0; }

select.invalid:not(:focus),
select:invalid:not(:focus) {
	border-bottom-color: $gray;
}

// HEADER
// **************************************************

.header { background: $black; }
//.header { background: transparentize($black, 0.1); }

.site-logo {
	@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1) { order: 1; }
}

.main-menu {
	transition: $transition-base;
	@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1) { flex: 0 0; order: 2; }
	@media all and (min-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint)) { flex: 1 1; }

	a {
		font-family: $headings-font-family; font-size: 1.6rem; line-height: 1.6rem;

		@media all and (min-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint))
		{
			color: $white; height: 9rem; padding: 3.7rem 1.6rem 0;

			&.active { color: $brand-primary; }
			&:hover,
			&:active { color: $brand-primary; transform: scale(90%); }
		}
	}
}

.menu-content {
	justify-content: flex-end;

	@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1) {
		background: $white; box-shadow: 0 0.2rem 0.4rem transparentize($black, 0.5), 0 0.2rem 1rem transparentize($black, 0.2); padding: 0.8rem; top: 6.3rem;
	}

	@media all and (min-width: map-get($grid-breakpoints, 'md')) {
		>.mnu > a::after { border-right: 1px solid $gray; content: ''; height: 5rem; left: 0; position: absolute;  top: 2rem; }
		>.mnu:first-child > a::after { border-right: 0; }
	}

	a {
		text-align: center;
		text-transform: uppercase;
		@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1) { color: $gray-darker; font-size: 1.2rem; padding: 0.8rem; }
		@media all and (min-width: 992px) and (max-width: 1170px) { font-size: 12px; }
	}
}

.children {
	//background-color: $brand-primary; padding: 0.8rem;
	width: 23rem;
	@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1) {
		//padding-bottom: 1.6rem;
		width: 100%;
	}

	a {
		font-family: $font-family-base; height: auto;

		@media all and (min-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint))
		{
			border-bottom: 1px solid $white; color: $white; font-size: 1.3rem; padding: 1.5rem 1.8rem; text-align: left;
			&:hover { color: $brand-primary; }
		}
	}

	.mnu {
		background-color: $brand-primary;
		&:hover { background-color: $white; }
		&:last-child a {
			border-bottom: 0;
		}

		@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1) {
			background-color: $gray-lightest-2;
		}
	}
}

.llamanos {
	@media all and (max-width: map-get($grid-breakpoints, 'lg') - 1) { display: none; }
	background-color: $gray-darker;
	color: $white;
	height: 9rem;
	letter-spacing: 2px;
	margin: 0 2rem;
	padding: 1.7rem 4rem 0;
	text-align: center;
	text-transform: uppercase;

	.number {
		@media all and (max-width: map-get($grid-breakpoints, 'lg') - 1) { font-size: 1.4rem; }
		@media all and (min-width: map-get($grid-breakpoints, 'lg')) { font-size: 2rem; }
	}

}

.header-sm {
	@media all and (max-width: map-get($grid-breakpoints, 'lg') - 1) { display: none; }
	@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1) { order: 3; }
	height: 9rem;
	padding: 2.2rem 0 0;

	a {
		color: $white;
		&:hover { color: $brand-primary; }
	}
}


// MOBILE: Dropdown Menu
// **************************************************


@if $_menu-mobile-type == dropdown {

	@media all and (max-width: map-get($grid-breakpoints, $_menu-mobile-breakpoint) - 1px) {

		.menu { position: static; }
	}
}


// FOOTER
// **************************************************

.footer {
	padding: 3.2rem 0;
	text-align: center;

	.col-md-4 {
		padding-bottom: 3.2rem;
		@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { text-align: center; }
	}
}

.footer-logo-link { margin: 0 auto; }
.footer-logo { margin: 0 auto; }
.footer-mnu { padding: 1.6rem 0; }

.footer-contact {
	//

	.ico {
		display: block; line-height: 1.5; min-height: 4rem; padding: 0 0 1.6rem 4rem; position: relative; text-align: left;
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { display: block; }

		&::before { color: $brand-primary; left: 0; padding: 0; position: absolute; }
	}

	span { color: $brand-primary; display: block; font-size: 2rem; }
}

.footer-sm {
	//
	a {
		&:first-of-type {
			@media all and (min-width: map-get($grid-breakpoints, 'md')) { margin-left: -1.2rem; }
		}

		&::before { }
	}
}





// COMPONENTS
// **************************************************

// swiper

//Arrows fix
.swiper-button-prev,
.swiper-button-next {
	cursor: pointer; position: absolute; top: 50%; transform: translateY(-50%); z-index: 10;
	//background: transparentize($brand-darker, 0.5);
	&::before {
		padding: 0;
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { font-size: 10rem; }
	}
}


.swiper-wrapper .swiper-slide {
	&::after {
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { background-color: $white;bottom: 0;content: '';height: 13vh;position: absolute;width: 100%;z-index: 2; }
	}
}

.destacados .swiper-button-prev,
.destacados .swiper-button-next {
	//background: transparentize($gray-darker, 0.5);
	&::before { padding: 0; }
}

.swiper-pagination-bullet { background-color: $gray; border: 0; height: 1.3rem; width: 1.3rem; }
.swiper-pagination-bullet-active { background-color: $brand-primary; }


.swiper-button-next,
.swiper-button-prev {
	bottom: 50%;
	top: auto;

	@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { display: none; }
}

.swiper-button-next { left: auto; right: 0; }
.swiper-button-prev { left: 0; right: auto; }

// Main Slider Height
.page-header .top {
	.swiper-wrapper,
	.swiper-slide {
		min-height: 44rem;
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { height: 85vh; }
		@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { height: calc(100vh - 6.4rem); }
	}
}

//TOP HOME
.top {
	//

	.container {
		bottom: 0%; left: 0; padding-bottom: 4rem; padding-top: 4rem; position: absolute; right: 0;
	}

	h4 { color: $brand-primary; margin-top: 0; }

	h2 {
		color: $white;
		font-family: 'Lato-Light';
		line-height: 1.3;
		margin: 0;
		text-transform: uppercase;
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { font-size: 3.5rem; }
	}

	.slider-media {
		margin-bottom: -2rem;
		opacity: 0;
		padding: 0;
		text-align: right;
		transform: translateX(-10%); transition: all 0.5s ease-out 0.3s;
		@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { display: none; opacity: 1; }
	}

	.slider-content {
		margin-bottom: 2rem;
		padding: 0;
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { margin-bottom: 9rem; margin-top: auto; }
	}

	.banner {
		margin-bottom: auto;
		min-width: 100%;
		//@media all and (min-width: map-get($grid-breakpoints, 'xl')) {top: 60%;}
	}

	p { margin: 1em auto; max-width: 60rem; }

	.swiper-slide-active {
		.slider-media { transform: translateX(0); opacity: 1; }
	}

}

// SWIPER CAROUSEL
.carousel {
	position: relative;

	p { padding: 0 2rem; }

	.swiper-slide {
		.banner { width: 100%; }
	}

	.swiper-container {
		position: relative;
		width: 100%;
		@media all and (min-width: map-get($grid-breakpoints, 'md') - 1) { width: 80%; }
	}

	.swiper-button-next,
	.swiper-button-prev {
		bottom: -1rem;
		top: auto;
		@media all and (min-width: map-get($grid-breakpoints, 'md') - 1) { bottom: 20%; }
	}

	.swiper-button-next { margin-right: 0; right: 0; }
	.swiper-button-prev { left: 0; margin-left: 0; }
}

// PRODUCT SWIPER
.product {
	.swiper-button-prev,
	.swiper-button-next {
		&::before { font-size: 7rem; }
	}

	.swiper-slide {
		text-align: center;

		img {
			@media all and (min-width: map-get($grid-breakpoints, 'md')) { width: 99%; }
		}
	}
}

// PRODUCTS
.product-node {
	margin-bottom: 4rem;

	@media all and (max-width: map-get($grid-breakpoints, 'sm') - 1) { margin: 0 auto 4rem; max-width: 32rem; }

	a { text-decoration: none; }
	img { display: block; margin: 0 auto; max-width: 29.6rem; width: 100%; }

	.title {
		color: $brand-primary; font-family: $headings-font-family; font-size: 1.6rem; height: auto; line-height: 2rem; overflow: hidden; padding: 1.6rem 0 0; text-transform: uppercase;
		&::first-line { color: $gray-darker; }
	}
}

.blue-bg {
	background: $brand-primary;
	height: 55vh;
	position: absolute;
	width: 100%;
}


// Breadcrumbs
.breadcrumbs {
	color: $white;
	padding-top: 3.2rem;

	a:hover { color: $gray-lightest; }
}

// TABS
.tab-list {
	//

	input {
		display: none;

		&[type="radio"] + label {
			color: $white;

			@media all and (min-width: map-get($grid-breakpoints, 'md')) { font-size: 1.6rem; }
		}

		&:checked + label {
			background-color: $white;
			color: $gray;

			@media all and (min-width: map-get($grid-breakpoints, 'md')) { background-image: url(#{$_image-path}/icons/tab-hover-icon.svg); }
		}
	}

	label {
		background-color: $gray;
		background-position: right center;
		background-repeat: no-repeat;
		color: $white;
		display: inline-block;
		float: left;
		font-weight: 600;
		padding: 1.32rem;
		text-align: left;

		@media all and (min-width: map-get($grid-breakpoints, 'md')) { background-image: url(#{$_image-path}/icons/tab-icon.svg); padding: 1.5rem 8rem; padding-left: 3rem; }

		&:nth-of-type(3) { background-color: $gray-darker; }
		&:hover { cursor: pointer; }

	}

}

//#tab3:checked .icn-1 { background-color: $gray-darker; }

.tab-content {
	background-color: $gray-lightest-2;
	color: $gray-darker;
	height: 100%;
	min-height: 55vh;

	@media all and (max-width: map-get($grid-breakpoints, $_navdrop-breakpoint) - 1) { order: 1; }

	.tab-panel {
		display: none;
		padding: 5rem 3rem 2rem;

		h2 { color: $gray-darker; font-family: $font-family-sans-serif; font-weight: normal; margin: 0; text-transform: uppercase; }
		h3 { color: $gray-darker; margin: 10px 0; }
		h4 { color: $gray-darker; }
	}
}

.accordion {
	background-color: $gray;
	position: relative;

	p { color: $white; padding: 1em 2em; }
}

.accordion-title,
.accordion-heading {

	background-color: $gray-lightest-2;
	border-bottom: 1px solid darken($gray-lightest-2, 5%);
	display: block;
	padding: 2rem 3rem;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.5s ease-in-out;


	&:before {
		content: '+';
		float: left;
		font-size: 1.5em;
		line-height: 0.8em;
		transition: transform 0.3s ease-in-out;
	}

	&:hover {
		background-color: darken($gray-lightest-2, 10%);
	}
}

.accordion-title-active,
.accordion-title.is-expanded {
	background-color: darken($gray-lightest-2, 10%);

	&:before {
		transform: rotate(-225deg);
	}

}

.accordion-content { color: $white; }

.accordion-item {
	height: auto;
	max-height: 50em;
	overflow: hidden;
	padding-right: 4rem;
	transition: max-height 0.5s;

	//@media screen and (min-width:48em) {
	//	max-height: 15em;
	//	transition: max-height 0.5s
	//}

}

.accordion-item.is-collapsed { max-height: 0; }
.no-js .accordionitem.is-collapsed { max-height: auto; }
.animate-in { animation: accordionIn 0.45s normal ease-in-out both 1; }
.animate-out { animation: accordionOut 0.45s alternate ease-in-out both 1; }

@keyframes accordionIn {
	0% {
		opacity: 0;
		transform: scale(0.9) rotateX(-60deg);
		transform-origin: 50% 0;
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}

}

@keyframes accordionOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.9) rotateX(-60deg);
	}

}


// wow
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.fadein {
	animation-name: fadeIn;
}

// SECTIONS
// **************************************************

.be-home {
	h3 {
		border-bottom: 5px solid $gray;
		padding-bottom: 7px;
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { display: inline-block; }
	}

	//.page-section {
	//	p:first-of-type {
	//		@media all and (min-width: map-get($grid-breakpoints, 'md')) {width: 50%; }
	//	}
	//}

	.sec-contacto p:first-of-type { width: 100%; }

}

.page-section,
.page-section-destacados {
	padding: 4rem 0;
	text-align: center;
}

.sec-light {
	background: $white; color: $gray;

	h1,
	h2,
	h3 {
		&::first-line { color: $gray-darker; }
	}
}

.sec-form {
	//
}


// COMMON FORM Styles

input:not([type=radio]):not([type=checkbox]),
select,
textarea {
	border-bottom: 1px solid $gray;
	color: $brand-primary;

	// placeholder
	&::placeholder { color: $gray; }
}

.contact-title {
	padding-bottom: 4rem;

	h2 {
		font-size: $font-size-h1; margin: 0; text-align: center;
		span { color: $brand-primary; }
	}

	//p { margin-top: 0; text-align: center; }
}

.sectitle {
	color: $brand-primary; font-family: $headings-font-family; font-size: 1.8rem; padding-bottom: 1.6rem; padding-top: 6.4rem; position: relative;
	&::before { background: $white; border-radius: 100%; color: $brand-accent; content: counter(formstep); counter-increment: formstep; display: inline-block; height: 3.2rem; line-height: 3.2rem; margin-right: 1.6rem; text-align: center; vertical-align: bottom; width: 3.2rem; }
}

.contact-container { counter-reset: formstep; margin: 0 auto; max-width: (map-get($container-max-widths, 'xl') / 2) + 16px; }
.buttons { margin: 0 auto; padding: 1.6rem 0.8rem; }




// homepage
.sec-categorias {
	//

	.row:first-child p { font-size: 1em; }
	.row + .row { padding-top: 8rem; }
	.cel-image h5 { color: $black; font-family: $font-family-sans-serif; font-size: 2rem; font-weight: 200; text-transform: uppercase; }
	.cat {
		padding: 3rem 0;

		a {
			text-decoration: none;

			&:hover::after { background: transparentize($brand-primary, 0.15) url(#{$_image-path}/icons/lupa-icon.svg) no-repeat center center; background-size: 300%; bottom: 0; color: $white; content: 'ver modelos'; font-family: $headings-font-family; font-size: 2.5rem; font-weight: bolder; height: 100%; left: 0; line-height: 12rem; position: absolute; right: 0; text-transform: uppercase; top: 0; width: 100%;
			}
		}

		@media all and (min-width: map-get($grid-breakpoints, 'md')) {
			&:nth-child(odd) { border-left: 1px solid $gray-lightest; border-right: 1px solid $gray-lightest; }
			&:nth-child(1) { border-left: 0; }
		}
	}

}

.usp,
.hlp {
	background: top center no-repeat; background-size: 8.8rem 8.8rem; padding-top: 11.2rem;
	@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { margin-bottom: 4rem; }
}

.hlp p {
	border-bottom: 1px solid $gray;
	padding-bottom: 1rem;
	text-align: left;
}

.usp-1 { background-image: url(#{$_image-path}/icons/ico-acerca-1.svg); }
.usp-2 { background-image: url(#{$_image-path}/icons/ico-acerca-2.svg); }
.usp-3 { background-image: url(#{$_image-path}/icons/ico-acerca-3.svg); }
.usp-4 { background-image: url(#{$_image-path}/icons/ico-acerca-4.svg); }

.hlp-1 { background-image: url(#{$_image-path}/icons/ico-soporte-1.svg); }
.hlp-2 { background-image: url(#{$_image-path}/icons/ico-soporte-2.svg); }
.hlp-3 { background-image: url(#{$_image-path}/icons/ico-soporte-3.svg); }
.hlp-4 { background-image: url(#{$_image-path}/icons/ico-soporte-4.svg); }

.page-recomendations,
.sec-allies {
	h2 { text-align: center; }
}

.sec-featured {
	.container-fluid { max-width: none; }
	.starred {
		color: $white; padding-bottom: 3rem; padding-top: 3rem; text-align: left;
		h5 { color: $white;}
	}

	.cel-image { text-align: center; }
	.feat-scanner { background-color: $gray; }
	.feat-registro { background-color: $gray-darker; }
	.valign { align-items: center; display: flex; justify-content: center; }
}

// SECTION HEADERS
.page-section-top {
	background-size: cover;
	color: $white;
	font-weight: 200;
	padding: 4rem 0;
	text-align: center;

	@media all and (min-width: map-get($grid-breakpoints, 'md')) { padding: 8.8rem 0; }

	p:first-of-type {
		@media all and (min-width: map-get($grid-breakpoints, 'md')) {width: 50%; }
	}

	h2 { color: $white; }
}

.top-banner {
	//
	@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { height: calc(100vh - 6.4rem); padding: 8rem 0; }

	h2:first-child::after {
		border-top: 4px solid $brand-primary;
		content: '';
		display: block;
		margin: 10px auto 0;
		width: 12%;
	}
}

.parallax-banner {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	padding: 4.8rem 0;
	text-align: center;

	p:first-of-type {
		@media all and (min-width: map-get($grid-breakpoints, 'md')) {width: 70%; }
	}

	.button { margin-top: 2rem; }

	h2 {
		color: $brand-primary;

		&:nth-child(2) {
			line-height: 1.5; margin-bottom: 0; margin-top: 2rem;
		}

		&:first-child::after {
			border-top: 4px solid $white;
			content: '';
			display: block;
			margin: 10px auto 0;
			width: 20%;
		}

		span { color: $white; font-family: $font-family-sans-serif; font-weight: normal; text-transform: uppercase;}
	}
}

.fullscreen,
.content-a {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
	height: auto;
	min-height: 100%;
}

.content-a {
	display: table;
}

.content-b {
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

//Section Acerca
.modular {
	h2 { font-family: $font-family-sans-serif; font-weight: normal; margin-bottom: 4rem; text-transform: uppercase; }
}

.page-section-blue,
.page-section-black {
	padding: 5rem 0;
	text-align: center;

	h2 {
		color: $white; font-family: $font-family-sans-serif; font-weight: lighter; line-height: 1.5; margin-bottom: 0; text-transform: uppercase;
	}
}

//Blue Banner
.page-section-blue {
	background-color: $brand-primary;
}


//Black Banner
.page-section-black {
	background-color: $black;

	.contact-banner-mail p {  background: url(#{$_image-path}/icons/ico-contact-banner-1.svg) no-repeat -4px center; }
	.contact-banner-tel p { background: url(#{$_image-path}/icons/ico-contact-banner-2.svg) no-repeat -4px center; }

	.contact-banner-mail p,
	.contact-banner-tel p {
		@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { background-size: 5.8rem 5.8rem; }
	}

	p {
		@media all and (min-width: map-get($grid-breakpoints, 'md')) { font-size: 2rem; }
	}
}

.sec-soporte {
	.page-section-black {
		background-size: 5.8rem 5.8rem;

		p {
			margin-top: 3rem; padding: 1.5rem 0 1.5rem 6.5rem; text-align: left;
			@media all and (min-width: map-get($grid-breakpoints, 'md')) { padding: 2.5rem 0 2.5rem 8rem; }
		}
	}
}

//Banners background
.page-top-acerca { background-image: url(#{$_image-path}/bkg/acerca-top-banner.jpg); }
.page-acerca-compromiso { background-image: url(#{$_image-path}/bkg/acerca-compromiso.jpg); }
.page-parallax-garantia { background-image: url(#{$_image-path}/bkg/parallax-garantia.jpg); }
.page-top-soporte { background-image: url(#{$_image-path}/bkg/soporte-top-banner.jpg); }



@media (min-width: map-get($grid-breakpoints, 'md')) and (-webkit-min-device-pixel-ratio: 2), (min-width: map-get($grid-breakpoints, 'md')) and (min-resolution: 192dpi)
{
	.page-top-acerca { background-image: url(#{$_image-path}/bkg/acerca-top-banner@2x.jpg); }
	.page-acerca-compromiso { background-image: url(#{$_image-path}/bkg/acerca-compromiso@2x.jpg); }
	.page-parallax-garantia { background-image: url(#{$_image-path}/bkg/parallax-garantia@2x.jpg); }
	.page-parallax-soluciones { background-image: url(#{$_image-path}/bkg/parallax-soluciones@2x.jpg); }
	.page-top-soporte { background-image: url(#{$_image-path}/bkg/soporte-top-banner@2x.jpg); }
}


// SECTION Subcategories
.sec-subcategories { padding-top: 3.2rem; }

.subcategory {
	//
	div {
		margin: 0 auto;
		max-width: 40rem;
	}
}


.subcategory-banner {
	//

	h3 { }
	span { font-size: 1.4rem; position: relative; z-index: 2; }

	&:hover,
	&:active {
		&::before { }
	}
}

.page-parallax-soluciones {
	background-image: url(#{$_image-path}/bkg/parallax-soluciones.jpg);
	padding: 4rem 0;
	@media all and (min-width: map-get($grid-breakpoints, 'md')) { padding: 11rem 0; }

	img { max-width: 30rem; width: 70%; }
	h2 {
		margin-bottom: 0;
		&:first-child::after { border-top: 0; }
	}
}

//.subcategory-gadgets .subcategory-banner { background-color: $gray; }
//.subcategory-camaras .subcategory-banner { background-color: $gray-darker; }
//.subcategory-led .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-pantallas-led.jpg); }
//.subcategory-proyectores .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-proyectores.jpg); }
//.subcategory-pantallas .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-pantallas-convencionales.jpg); }
//.subcategory-touch .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-pantallas-touch.jpg); }
//.subcategory-insitu .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-servicio-insitu.jpg); }
//.subcategory-drones .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-servicio-drones.jpg); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
//	.subcategory-led .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-pantallas-led@2x.jpg); }
//	.subcategory-proyectores .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-proyectores@2x.jpg); }
//	.subcategory-pantallas .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-pantallas-convencionales@2x.jpg); }
//	.subcategory-touch .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-pantallas-touch@2x.jpg); }
//	.subcategory-insitu .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-servicio-insitu@2x.jpg); }
//	.subcategory-drones .subcategory-banner { background-image: url(#{$_image-path}/bkg/sec-servicio-drones@2x.jpg); }
}

// RESPONSIVE VIDEO
.responsive-video {
	margin: 10px auto;
	overflow: hidden;
	padding-bottom: 56.25%;
	/*padding-top: 60px;*/
	position: relative;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

// Servicios

.sec-bullets {
	//

	.usp,
	.hlp {
		background-position: 0.8rem 0; background-repeat: no-repeat;
	}
}

.usp-s-1 { background: url(#{$_image-path}/servicios/ico-1.svg); }
.usp-s-2 { background: url(#{$_image-path}/servicios/ico-2.svg); }
.usp-s-3 { background: url(#{$_image-path}/servicios/ico-3.svg); }
.usp-s-4 { background: url(#{$_image-path}/servicios/ico-4.svg); }
.usp-s-5 { background: url(#{$_image-path}/servicios/ico-5.svg); }


.sec-allies {
	//
	h3 { @include hide-text; background-size: 28.8rem 10.4rem; height: 10.4rem; margin: 0 auto; width: 28.8rem; }
}

// Garantia

.page-section-howto .cel-image {
	margin-top: 4rem;
}

.title-movilevolution { background-image: url(#{$_image-path}/logo-movil-evolution.svg); }
.title-lastcode { background-image: url(#{$_image-path}/logo-lastcode.svg); }

.ol-list {
	text-align: left;
	li { margin-top: 2rem; }
	a { color: $brand-primary; }
}


// CATALOG
// **************************************************

.category,
.product,
.search {
	//
	.content { background: $white; }
}

.search {
	.content { margin-top: 10.4rem; }
	.header-search .ico { cursor: default; }
}

.category-header {
	padding: 4rem 0;
	@media all and (min-width: map-get($grid-breakpoints, $_navdrop-breakpoint)) { padding: 8rem 0; }
}

.catalog,
.product-content,
.search-results { padding-bottom: 3.2rem; padding-top: 3.2rem; }

.catalog-products { order: 2; text-align: center; }
.catalog-tree { padding-bottom: 3.2rem; }
.catalog-tree-children { padding-left: 1.6rem; }

.catalog-tree-root {
	//
	> a { font-size: 1.6rem; }
	> .catalog-tree-children { padding-bottom: 0.8rem; }
}

.catalog-tree-node {
	//
	a { color: $gray; display: block; padding: 0.8rem 0; text-decoration: none; }
	&.active > a { color: $brand-accent; font-weight: bold; }
}

.navdrop { margin: 0 auto; max-width: 32rem; }
.navdrop-drop { font-family: $headings-font-family; font-size: 1.6rem; line-height: 1; }

.navdrop-content {
	//
	@media all and (max-width: map-get($grid-breakpoints, $_navdrop-breakpoint) - 1) { padding: 1.6rem; }
}

.bullet {
	//-webkit-box-orient: vertical;
	//display: -webkit-box;
	//-webkit-line-clamp: 3;
	margin: 2rem 0;
	//overflow: hidden;

	table { display: none; }
}

// PRODUCT
// **************************************************


.product-images {
	@media all and (max-width: map-get($grid-breakpoints, $_navdrop-breakpoint) - 1) { margin-top: 2rem; order: 2; }

	> div {
		background: $white;
		.swiper-container { margin: 0 auto; }
	}
}

//.product-image { max-height: 39.5rem; min-height: 32rem; }

.product-image-thumbs {
	position: relative;
	z-index: 2;

	a {
		background: $gray-lightest; display: inline-block; line-height: 1; margin-right: 1.6rem; transition: $transition-base;

		&:hover,
		&.active { background: $brand-primary; }
	}

	img {
		display: block;
		opacity: 0.5;
		width: 9.4rem;

		@media all and (max-width: map-get($grid-breakpoints, 'md') - 1) { width: 5.4rem; }
	}
}

.product-description { 
	padding-bottom: 3.2rem;
	
	table { width: 75%; }
	th { text-align: left; }
	td { width: 50%; }

}
.product-add { margin-bottom: 4.8rem; }

.product-specs {
	border-collapse: collapse; margin-top: 2rem;table-layout: fixed; width: 100%;

	td,
	th { padding: 0.6rem 0.8rem; }

	th { font-weight: 400; text-align: left; width: 40%; }
	tr {
		background: $white;
		&:nth-child(odd) { background: $gray-lightest-2; }
	}
}

.drivers p {
	background: url(#{$_image-path}/temp/icon-drivers.png) no-repeat left center;
	padding: 0.5rem 4rem;

	strong { text-transform: uppercase; }
}

.manual {
	margin-bottom: 6rem;

	p {
		background: url(#{$_image-path}/temp/icon-manual.png) no-repeat left center;
		padding: 0.5rem 4rem;
	}
}

.garantia {
	background: $white url(#{$_image-path}/icons/garantia-express-ico.svg) no-repeat left center;
	color: $gray;
	font-weight: 800;
	padding: 2rem 4rem;
	padding-left: 6rem;

	&:hover { background: $white url(#{$_image-path}/icons/garantia-express-ico.svg) no-repeat left center; color: $gray; }
}


// COTIZADOR
.sec-cotizar {
	//
	.content { background: $brand-accent; }
}

.form { padding: 8rem 0; }

.cart-product { margin-bottom: 1.6rem; }

.cartproduct-thumb {
	flex: 0 0 8rem; padding: 0 0.8rem; width: 8rem;
	img { border-radius: $border-radius; }
	a { display: block; }
}

.cartproduct-name {
	flex: 1 1; padding: 0 0.8rem;

	a {
		border-bottom: 1px solid $_form-line; color: $white; display: block; height: 4.8rem; overflow: hidden; padding: 2.4rem 0 0.2rem; text-decoration: none; text-overflow: ellipsis;
		&:hover { color: inherit; }
	}
}

.cartproduct-delete {
	flex: 0 0 4rem; width: 4rem;

	&::before { margin-top: 0.8rem; transition: $transition-base; }

	&:hover,
	&:active {
		&::before { background: $white; border-radius: 100%; }
	}
}

.cart-goback {
	background: none; display: block; margin: 0 auto; max-width: 35.2rem;
	.empty { max-width: 25.6rem; }

	&:hover,
	&:active { background: none; }
}

.alert {
	background: $white; border-radius: $border-radius; padding: 0.8rem;

	p { margin: 0; }
	&.red { color: $red; }
}

.pg-gracias {
	//

	.content { padding: 16rem 0.8rem; text-align: center; }
	h1 {}
}




// Default pages

.container-fluid,
.container {
	@media all and (max-width: map-get($grid-breakpoints, 'md')) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.default {
	//

	.content .container-fluid { max-width: 64rem; padding-bottom: 8rem; padding-top: 8rem; }
	h3 { color: $brand-primary; }
}

//Mobile Fix
@media (min-width: 992px) and (max-width: 1170px) {
	.llamanos {
		font-size: 12px;
		padding: 2.7rem 2rem 0;
		.number { font-size: 12px; }
	}
}
