{% macro render_field(form, fields) %}

	{% if form.value(field.name) and field.type == 'cart-products' %}
		<table>
			<thead>
				<tr>
					<th scope="col" style="background:#000;color:#fff;padding:4px;">Producto</th>
					<th scope="col" style="background:#000;color:#fff;padding:4px;">SKU</th>
					<th scope="col" style="background:#000;color:#fff;padding:4px;">Cantidad</th>
				</tr>
			</thead>
			<tbody>
			{% for index, field in fields %}
				{% set input = attribute(field, "input@") %}
				{% if input is null or input == true %}
					{% set product = form.value(field.name) %}
					<tr>
						<th style="border-bottom:1px solid #666;padding:4px;">{{ product.name }}</th>
						<td style="border-bottom:1px solid #666;padding:4px;">{{ product.sku }}</td>
						<td style="border-bottom:1px solid #666;padding:4px;">{{ product.qty }}</td>
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>

		<p>&nbsp;</p>
	{% endif %}

	{% for index, field in fields %}
		{% set input = attribute(field, "input@") %}
		{% if input is null or input == true %}
			{% if form.value(field.name) %}
				{% block field %}
					<div>
						{% if field.type == 'cart-products' %}
						{% else %}
							{% block field_label %}
								<strong>{{ field.label|t|e }}</strong>:
							{% endblock %}

							{% block field_value %}
								{% if field.type == 'checkboxes' %}
									<ul>
										{% for value in form.value(field.name) %}
											<li>{{ field.options[value]|e }}</li>
										{% endfor %}
									</ul>
								{% elseif field.type == 'checkbox' %}
									{{ (form.value(field.name) == 1) ? "PLUGIN_FORM.YES"|t|e : "PLUGIN_FORM.NO"|t|e }}
								{% elseif field.type == 'select' %}
									{{ field.options[form.value(field.name)]|e }}
								{% else %}
									{{ string(form.value(field.name))|nl2br }}
								{% endif %}
							{% endblock %}
						{% endif %}
					</div>
				{% endblock %}
			{% endif %}
		{% else %}
			{% if field.fields %}
				{{ _self.render_field(form, field.fields) }}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endmacro %}

{{ _self.render_field(form, form.fields) }}
