{#

CATALOG BASE TEMPLATE

#}


{% set _body_class = ['category'] %}
{% extends 'base/site.twig' %}




{% block content_header %}
	<header class="category-header page-section-blue">
		<div{{ html.classes(site.catalog.header.class|default(['container-fluid']), []) }}>
			<h2 class="category-title">{{ header.category.title|default(header.title) }}</h2>
		</div>
	</header>
{% endblock %}


{% block content %}

	{% block before_content %}
	{% endblock %}


	<section{{ html.classes(site.catalog.container.class|default(['container-fluid']), ['catalog']) }}>

		<div{{ html.classes(site.catalog.innercontainer.class|default(['row']), []) }}>

			<section{{ html.classes(site.catalog.products.class|default(['col-md-10', 'offset-md-1']), ['catalog-products']) }}>

				{% block before_products %}
				{% endblock %}

				{% block products %}

					<div{{ html.classes(site.catalog.innerproducts.class|default(['row']), []) }}>

						{% set products = page.collection(_product_query|default({
							'items': '@self.descendants',
							'order': {
								'by': 'folder',
								'dir': 'asc'
							}
						})).ofType('product') %}

						{% for product in products %}
							{% include 'partials/catalog/product.twig' with { 'product': product, 'col_class': site.catalog.product.class|default(['col-md-3', 'col-sm-6']) } %}
						{% endfor %}
					</div>

				{% endblock %}

				{% if site.catalog.pagination.active %}
				{% endif %}

				{% block after_products %}
				{% endblock %}

			</section>

			<!-- {{ nonce_field(site.catalog.nounce_action) }} -->

		</div>

	</section>

	{% block after_content %}
	{% endblock %}

{% endblock %}
