{#

INTERIOR BASE TEMPLATE

#}

{% set _body_class = ['pg-gracias'] %}
{% extends 'base/site.twig' %}

{% block content %}
	<div class="container-fluid">
		{{ page.content }}
	</div>
{% endblock %}

{% block content_footer %}
	<div class="gracias-sm">
		{% block footer_socialmedia %}
			{% for key, val in site.socialmedia %}
				<a class="{{ ['header-sm-' ~ key]|merge(val.classes|default([]))|join(' ') }}" href="{{ val.link }}" target="_blank"{% if val.attr is defined %} {{ html.attr(val.attr) }}{% endif %}>{{ val.name }}</a>
			{% endfor %}
		{% endblock %}
	</div>

	<p>	<a href="/" class="button">Volver</a></p>
{% endblock %}
