{#

FICHA TECNICA BASE TEMPLATE

#}

{% set _body_class = ['product'] %}
{% extends 'base/site.twig' %}


{% block content_header %}
	<div class="blue-bg"></div>
	<div class="breadcrumbs">
		<div class="container-fluid">
			<a href="{{ site.catalog.category_route }}"> {{ page.parent().parent().header.category.title|default(page.parent().parent().header.title) }} </a> / <a href="{{ page.parent().url() }}"> {{ page.parent().header.category.title|default(page.parent().header.title) }} </a> / {{ header.category.title|default(header.title) }}
		</div>
	</div>
{% endblock %}


{% block content %}

	<article{{ html.classes(site.catalog.container.class|default(['container-fluid']), ['product-content']) }}>
		<div class="row no-gutters">

				<div class="tab-list col-md-12 ficha">
					<input id="tab1" type="radio" name="tabs" checked>
					<label class="icn-1" for="tab1">Descripci&oacute;n</label>

					<input id="tab2" type="radio" name="tabs">
					<label class="icn-2" for="tab2">Drivers</label>

					<input id="tab3" type="radio" name="tabs">
					<label class="icn-3" for="tab3">Ficha T&eacute;cnica</label>
				</div>

				<div class="product-images col-md-5">
					<div class="">
						<div id="product-images" class="swiper-container">
							<div class="product-image swiper-wrapper">
								{% for img in page.header.product.media.gallery %}
									<div class="swiper-slide">
										{{ page.media[img.url].cropResize(472, 472).html() }}
									</div>
								{% endfor %}
							</div>
							{% if page.header.swiper.nav.active|default(true) %}
								<div{{ html.classes(page.header.swiper.nav.prev.class|default([]), ['swiper-button-prev']) }}{{ html.attr(page.header.swiper.nav.prev.attr|default({})) }}></div>
								<div{{ html.classes(page.header.swiper.nav.next.class|default([]), ['swiper-button-next']) }}{{ html.attr(page.header.swiper.nav.next.attr|default({})) }}></div>
							{% endif %}

							<nav class="product-image-thumbs" id="product-image-thumbs">
								{% for thumb in page.header.product.media.gallery %}
									<a data-num="{{ loop.index - 1 }}" id="product-image-thumb-{{ loop.index - 1 }}">
										{{ page.media[thumb.url].cropResize(128, 128).html() }}
									</a>
								{% endfor %}
							</nav>
						</div>
					</div>
				</div>

				<div class="tab-content col-md-7">
					<div class="tab-panel" id="content1" style="display: block">
						<h3>{{ page.header.product.name }}</h3>
						<div class="product-description">
							<h2>{{ page.header.product.bullet }}</h2>
							{{ page.content }}
						</div>
						<div class="product-cta">
							<a class="button garantia" data-product="{{ page.route }}" href="{{ site.garantia.garantia_route }}">garantía express</a>
							<!--<a class="button garantia" data-product="{{ page.route }}" href="{{ site.catalog.cart_route }}">garantía express</a>-->
						</div>
					</div>

					<div class="tab-panel" id="content2">
						{% if page.header.product.manual != empty %}

							<div class="manual">
								<h3>Manual de instalación</h3>
								<p><a href="./drivers/{{ page.header.product.manual }}" target="_blank" style="color: #008cff"> Descarga</a></p>
							</div>

						{% endif %}

						

							<div class="drivers">
								<h3>Drivers / Controladores</h3>

						{% if page.header.product.drivers != empty %}

							<p><strong>Linux</strong> |  <a href="./drivers/{{ page.header.product.drivers.linux }}" target="_blank" style="color: #008cff"> Descarga</a></p>
							<p><strong>Windows</strong> |  <a href="./drivers/{{ page.header.product.drivers.win }}" target="_blank" style="color: #008cff"> Descarga</a></p>
							</div>

						{% endif %}
						{% if page.header.product.drivers == empty %}
						
							<p><strong>Linux</strong> |  NA</p>
							<p><strong>Windows</strong> |  NA</p>
							</div>

						{% endif %}
					</div>

					<div class="tab-panel" id="content3">

						{% if page.header.product.specs != empty %}

							<h3>{{ page.header.product.name }}</h3>
							<h2><span>Características Técnicas</span></h2>

							{% if page.header.product.pdf != empty %}
							<div style="display:block; margin-top:10px;">
								<a href="./pdf/{{ page.header.product.pdf }}" target="_blank" style="color: #008cff">Descarga la Ficha Técnica</a>
							</div>
							{% endif %}

							<table class="product-specs">
								<tbody>
									{% for key, val in page.header.product.specs %}
										<tr>
											<th scope="row">{{ key }}</th>
											<td>{{ val }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

							{% if page.header.product.pelec != empty %}
							<h4>Parámetros eléctricos</h4>
								<table class="product-specs">
									<tbody>
										{% for key, val in page.header.product.pelec %}
											<tr>
												<th scope="row">{{ key }}</th>
												<td>{{ val }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}

							{% if page.header.product.pfis != empty %}
							<h4>Parámetros físicos</h4>
								<table class="product-specs">
									<tbody>
										{% for key, val in page.header.product.pfis %}
											<tr>
												<th scope="row">{{ key }}</th>
												<td>{{ val }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}

							{% if page.header.product.dfun != empty %}
							<h4>Detalle de funcionamiento</h4>
								<table class="product-specs">
									<tbody>
										{% for key, val in page.header.product.dfun %}
											<tr>
												<th scope="row">{{ key }}</th>
												<td>{{ val }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}

						{% endif %}
					</div>
				</div>




		</div>
	</article>

{% endblock %}


{% block content_footer %}
	{% include 'modular/parallax-banner.html.twig' with {'topcontent': '## garantía express
## <span> si tu equipo falla lo reponemos en 24 hrs </span>
Por que sabemos que la productividad de tu negocio no puede detenerse, ponemos a tu disposición el servicio de garantia express. Previo a aplicar tu garantía, te recomendamos contactar a soporte técnico.


[ver más](/garantia?classes=button)
[registra tu equipo](/registra-tu-equipo?classes=button)', '_template_class': ['parallax-banner', 'page-section-top', 'page-parallax-garantia', 'wow', 'fadein']} %}
{% endblock %}
