{#

PRODUCT CATALOG VIEW
Modula component

#}

{% import 'base/macros.twig' as html %}

<div class="product-node wow fadein {{ col_class|default(['col-md-3', 'col-6'])|join(' ') }}" id="{{ product.header.product.sku }}">

	<a href="{{ product.route }}" class="product-link">
		{{ product.media[product.header.product.media.thumb].cropResize(296, 296).html() }}
		<div class="title">{{ product.header.product.name }}</div>
	</a>

	<div class="bullet">{{ product.content }}</div>

	<a href="{{ product.route }}" class="product-link-add button" data-product="{{ product.route }}">ver producto</a>

</div>
