{#

SITE BASE TEMPLATE

#}

{% extends 'base/base.twig' %}

{# favicon #}
{% block favicon %}
	<link href="{{ url('theme://images/favicon/blackecco-pos-32x32.png') }}" rel="icon" />
{% endblock %}

{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" />
	<link href="{{ url('theme://css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
	{% include 'partials/header/bepos.twig' %}
{% endblock %}


{% block footer %}
	{% include 'partials/footer/bepos.twig' with { 'row' : { 'logo_classes': ['justify-content-center'] }} %}
{% endblock %}


{% block js_footer %}
	{# SCRIPTS #}
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="{{ url('theme://js/script.js') }}"></script>
{% endblock %}
