{#

TOP BANNER HEADER TEMPLATE
Modula component

#}

{% set _template_class = ['sec-accordion'] %}
{% extends 'modular/txt.html.twig' %}


{% block sec_content %}

			{{ page.content }}

			<div class="row">
				{% if page.header.accordion.left != empty %}
					<div class="col-md-6 hlp hlp-1">

						<h3>{{ page.header.accordion.left.title }}</h3>

						<div class="accordion">
							<dl>
								{% for key, val in page.header.accordion.left.faq %}
									<dt><a href="#{{ page.header.accordion.left.id }}" aria-expanded="false" aria-controls="{{ page.header.accordion.left.id }}" class="accordion-title accordionTitle js-accordionTrigger">{{ key }}</a></dt>
									<dd class="accordion-content accordion-item is-collapsed" id="{{ page.header.accordion.left.id }}" aria-hidden="true"><p>{{ val }}</p></td>
								{% endfor %}
							</dl>
						</div>
					</div>
				{% endif %}

				{% if page.header.accordion.right != empty %}
					<div class="col-md-6 hlp hlp-2">

						<h3>{{ page.header.accordion.right.title }}</h3>

						<div class="accordion">
							<dl>
								{% for key, val in page.header.accordion.right.faq %}
									<dt><a href="#{{ page.header.accordion.right.id }}" aria-expanded="false" aria-controls="{{ page.header.accordion.right.id }}" class="accordion-title accordionTitle js-accordionTrigger">{{ key }}</a></dt>
									<dd class="accordion-content accordion-item is-collapsed" id="{{ page.header.accordion.right.id }}" aria-hidden="true"><p>{{ val }}</p></td>
								{% endfor %}
							</dl>
						</div>
					</div>
				{% endif %}


			</div>

{% endblock %}
