{#

PARALLAX BANNER TEMPLATE
Modula component

#}

{# {% set _template_class = ['parallax-banner'] %} #}
{% extends 'modular/txt.html.twig' %}


{% block sec_content %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {{ topcontent|default(page.content)|markdown }}
        </div>
    </div>
{% endblock %}
