{#

SLIDER PRODUCTOS TEMPLATE
Modula component

#}
{% set _template_class = ['swiper'] %}
{% extends 'modular/txt.html.twig' %}


{% block sec_content %}

	{{ page.content }}

	<div{{ html.classes(page.header.swiper.container.class|default([]), ['swiper-container']) }}{{ html.attr(page.header.swiper.container.attr|default({})) }}>

		<div class="swiper-wrapper wow fadein">

			{% for slide in page.header.swiper.slides %}


				<div{{ html.classes(slide.class|default([]), ['swiper-slide']) }}{{ html.attr(slide.attr|default({})) }}>
					{% if slide.content.banner is defined %}
						{{ page.media[slide.content.banner.src].classes('banner').html() }}
					{% endif %}

					<div class="container">
						{% if slide.content.media is defined %}
							<img alt="{{ slide.name|striptags }}" src="{{ page.media[slide.content.media.src].url() }}" />
						{% endif %}

						{% if slide.template is defined %}
							{% include slide.template with slide.content|default({}) %}

						{% else %}
							{{ slide.content|markdown }}

						{% endif %}
					</div>

				</div>
			{% endfor %}

		</div>
<!--
		{% if page.header.swiper.pagination.active|default(true) %}
			<div{{ html.classes(page.header.swiper.pagination.class|default([]), ['swiper-pagination']) }}{{ html.attr(page.header.swiper.pagination.attr|default({})) }}></div>
		{% endif %}
-->


		{% if page.header.swiper.scrollbar.active|default(false) %}
			<div{{ html.classes(page.header.swiper.scrollbar.class|default([]), ['swiper-scrollbar']) }}{{ html.attr(page.header.swiper.scrollbar.attr|default({})) }}></div>
		{% endif %}

	</div>

	{% if page.header.swiper.nav.active|default(true) %}
		<div{{ html.classes(page.header.swiper.nav.prev.class|default([]), ['swiper-button-prev']) }}{{ html.attr(page.header.swiper.nav.prev.attr|default({})) }}></div>
		<div{{ html.classes(page.header.swiper.nav.next.class|default([]), ['swiper-button-next']) }}{{ html.attr(page.header.swiper.nav.next.attr|default({})) }}></div>
	{% endif %}

{% endblock %}
