{#
 #
 # CEL - BASE TEMPLATE
 #
 #}

{% import 'base/macros.twig' as html %}

<div class="subcategory">

	{% if content.url %}
		<a class="subcategory-banner" href="{{ page.find(content.url).url() }}">
	{% else %}
		<span class="subcategory-banner">
	{% endif %}

			<h3>{{ content.title|markdown|replace({'<p>': '', '</p>': ''}) }}</h3>
			<div>
				{{ content.content|markdown }}
			</div>
<!--			
			{% if content.url %}
				<span class="button button-outline">Ver equipos</span>
			{% endif %}
-->
	{% if content.url %}
		</a>
	{% else %}
		</span>
	{% endif %}

</div>
